/*** Zoom out item to a small offset ***/
@keyframes makezoomout {
  0% {
    width: 500px;
    height: auto;
    opacity: 1;
  }
  50% {
    width: 280px;
    height: auto;
  }
  100% {
    width: 280px;
    height: auto;
    opacity: 0;
  }
}

/*** Zoom in item from a small offset ***/
@keyframes makezoomin {
  0% {
    width: 280px;
    height: auto;
    opacity: 0;
  }
  50% {
    width: 280px;
    height: auto;
  }
  100% {
    width: 500px;
    height: auto;
    opacity: 1;
  }
}

/*** Svg run line path ***/
@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

/*** Fade out item ***/
@keyframes seconds {
  0% {
    opacity: 1;
  }  
  33% {
    opacity: 0.4;
  }
  66% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}

/*** Fade in item ***/
@keyframes thpfadeinwait {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  70% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

/*** Row blink ***/
@keyframes blink {
  0% {
    width: 100%;
  }
  50% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}

/*** Menu slide in ***/
@keyframes menuslidein {
  0% {
    left: 100vw;
  }
  100% {
    left: 0;
  }
}