/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-Jul-2016, 10:24:31
    Author     : April
*/
html,body {
  height:100%;
  font-family: 'utm_neo_sans_intelregular';
}

body.no-sidebars {
  font-family: 'utm_neo_sans_intelregular';
  color: #FFFFFF;
  line-height: 20px;
}

body.not-logged-in  {
  overflow: hidden;
}

.layout-center {
  color: #FFFFFF;
  text-decoration: none;
}

.header {
  position: absolute;
  left: 86px;
  top: 10px;
  z-index: 3;
}

.front .header {
  left: 30px;
  display: none;
}

main.layout-3col__full {
  padding: 0;
  margin: 0;
}

.layout-swap {
  padding: 0 !important;
  margin: 0 !important;
}

.page-node-2 article {
  text-align: center;
  color: #000;
}

.page-node-2 {
  background: url('../images/homepagebg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.layout-swap__top {
  display: none;
}

.btn {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 auto 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
}
@media (min-width: 400px) {
  .btn {
    display: inline-block;
    margin-right: 2.5em;
  }
  .btn:nth-of-type(even) {
    margin-right: 0;
  }
}
@media (min-width: 600px) {
  .btn:nth-of-type(even) {
    margin-right: 2.5em;
  }
  .btn:nth-of-type(5) {
    margin-right: 0;
  }
}
.btn:hover {
  text-decoration: none;
}

.block-wrapper {
  position: relative;
}

/** Menu ***/
#block-block-2 {
  margin: 0 0 0 56px;
  position: absolute;
  top: 0;
  z-index: 2;
  width: calc(100% - 56px);
  display: none;
}

#block-block-2.active {
}

#block-block-2 .block-wrapper {
  height: 100vh;
}

#block-block-2 .block-wrapper > div {
  float: left;
  width: 50%;
  height: 50%;
  overflow: hidden;
}

#block-block-2 .block-wrapper > div .menu-inner {
  display: table-cell;
  overflow: hidden;
  height: 80px;
  vertical-align: bottom;
  padding: 0 0 105px 0;
}

#block-block-2 .block-wrapper > div > div {
  display: table;
  height: 100%;
  padding: 80px 0 0 80px;
  width: 100%;
  position: relative;
}

#block-block-2 .block-wrapper > div a {
  width: 100%;
  height: 100%;
  display: block;
}

#block-block-2 .block-wrapper div.menu1 {
  background: url('../images/nen-1.jpg') center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#block-block-2 .block-wrapper div.menu2 {
  background: url('../images/nen-2.jpg') center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#block-block-2 .block-wrapper div.menu3 {
  background: url('../images/nen-2.jpg') center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#block-block-2 .block-wrapper div.menu4 {
  background: url('../images/nen-1.jpg') center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#block-block-2 .block-wrapper div.menu1 > div .img-hover {
  background: url('../images/01_nhamay.png') center center no-repeat;
  background-size: 440px 150px;
  width: 490px;
  height: 183px;
  transition: all 0.5s ease-in-out;
  position: absolute;
  right: 0px;
  top: 154px;
}

#block-block-2 .block-wrapper div.menu1 > div:hover .img-hover {
  background-size: 489px 166.7px;
}

#block-block-2 .block-wrapper div.menu2 > div .img-hover {
  background: url('../images/nhanvien1.png') center center no-repeat;
  background-size: 303px 614px;
  width: 323px;
  height: 654px;
  transition: all 0.5s ease-in-out;
  position: absolute;
  right: 0;
}

#block-block-2 .block-wrapper div.menu2 > div:hover .img-hover {
  background-size: 323px 654px;
}

#block-block-2 .block-wrapper div.menu2 > div .boom {
  position: absolute;
  width: 59px;
  height: 63px;
  opacity: 0;
}

#block-block-2 .block-wrapper div.menu2 > div .boom img {
}

#block-block-2 .block-wrapper div.menu2 > div:hover .boom {
  animation: boom 0.5s ease-in-out forwards;
}

#block-block-2 .block-wrapper div.menu2 > div .nv2 {
  top: 80px;
  left: -5px;
}

#block-block-2 .block-wrapper div.menu2 > div .nv3 {
  top: -15px;
  left: 25px;
}

#block-block-2 .block-wrapper div.menu2 > div .nv4 {
  top: -10px;
  left: 130px;
}

#block-block-2 .block-wrapper div.menu2 > div .nv5 {
  top: 40px;
  left: 205px;
}

#block-block-2 .block-wrapper div.menu2 > div .nv6 {
  top: 130px;
  left: 230px;
}

#block-block-2 .block-wrapper div.menu3 > div .img-hover {
  background: url('../images/03_lamphoichai.png') center center no-repeat;
  background-size: 459px 222.6px;
  width: 550px;
  height: 290px;
  transition: all 0.5s ease-in-out;
  position: absolute;
  right: 0;
}

#block-block-2 .block-wrapper div.menu3 > div:hover .img-hover {
  background-size: 499px 242px;
}

#block-block-2 .block-wrapper div.menu4 > div .img-hover {
  background: url('../images/mayinannhanchai.png') center center no-repeat;
  background-size: 318px 257.6px;
  width: 550px;
  height: 300px;
  transition: all 0.5s ease-in-out;
  position: absolute;
  right: 0;
}

#block-block-2 .block-wrapper div.menu4 > div:hover .img-hover {
  background-size: 358px 290px;
}

#block-block-2 .block-wrapper > div .label {
  margin: 0 0 7px 0;
  text-transform: uppercase;
}

#block-block-2 .block-wrapper > div .title {
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 0 30px 0;
  font-size: 145%;
  line-height: 30px;
}

#block-block-2 .block-wrapper > div .desc-view {
  overflow: hidden;
  animation: shorter 0.5s ease-in-out forwards;
  height: 0;
}

#block-block-2 .block-wrapper > div:hover .desc-view {
  animation: taller 0.5s ease-in-out forwards;
}

#block-block-2 .block-wrapper > div .desc {
  margin: 0 0 20px 0;
  padding: 30px 0 0 0;
  font-size: 80%;
  opacity: 0;
}

#block-block-2 .block-wrapper > div .view {
  border: 1.5px solid #FFFFFF;
  display: block;
  opacity: 0;
  float: left;
}

#block-block-2 .block-wrapper > div .view a {
  display: block;
  text-transform: uppercase;
  padding: 7px 22px 3px;
  background: #ff0000;
  text-decoration: none;
  color: #FFF;
  font-size: 75%;
}

#block-block-2 .block-wrapper > div .serpa {
  height: 1px;
  width: 40px;
  background: #FFFFFF;
}

#block-block-2 > div > div {
  
}

#block-block-1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 56px;
  background: #d11212 url('../images/serpa-leftitem.jpg') 0 56px repeat-x;
  display: flex;
  z-index: 11;
}

#menu-bnt {
  background: url('../images/icon_menu.png') 16px center no-repeat;
  cursor: pointer;
  height: 56px;
}

#menu-bnt.active {
  background: #f0a001 url('../images/icon_menu_active.png') 16px center no-repeat;
}

#question-bnt .left-item-inner {
  background: url('../images/question.png') center center no-repeat;
  display: block;
  height: 56px;
  cursor: pointer;
}

#question-bnt {
  background: url('../images/serpa-leftitem.jpg') 0 0 repeat-x;
  bottom: 112px;
  height: 56px;
}

#fb-bnt { 
  background: url('../images/serpa-leftitem.jpg') 0 0 repeat-x;
  bottom: 56px;
  height: 56px;
}

#fb-bnt a { 
  background: url('../images/icon_fb.png') 19px center no-repeat;
  display: block;
  height: 56px;
}
  
#youtube-bnt {
  background: url('../images/serpa-leftitem.jpg') 0 0 repeat-x;
  bottom: 0;
  height: 56px;
}

#youtube-bnt a {
  background: url('../images/icon-youtube.png') 12px center no-repeat;
  display: block;
  height: 56px;
}

#copy-right {
  bottom: 180px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform: rotate(-90deg);
  white-space:nowrap;
  padding: 0 0 0 10px;
  color: #FFFFFF;
  font-size: 70%;
}

.left-item {
  width: 56px;
  position: absolute;
}
/** End Menu ***/

.node-2 .bnt-try img {
  margin: 0 auto;
  display: block;
}

.node-2 .bnt-try .img_exper1 {
  position: relative;
  margin: 0 auto;
  display: inline-block;
  cursor: pointer;
}

.node-2 .bnt-try .img_exper1 a > div {
  width: 216px;
  height: 53px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.node-2 {
  background: url('../images/may1.png') -260% -10% no-repeat;
  animation: slowfly 60s linear infinite;
  height: 100vh;
}

body.page-node-3 {
  background-size: cover;
}

#block-views-aseptic-block-1 {
  height: 100vh;
  width: 94px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #d11212;
}

#block-views-aseptic-block-1 p {
  margin: 0;
  padding: 0;
}

#block-views-aseptic-block-1 .views-row-first {
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  line-height: 14px;
  background: url(../../../../files/line_center_r.jpg) repeat-x left bottom;
  cursor: pointer;
}

#block-views-aseptic-block-1 .views-row-first:hover {
  background: #f0a001 url(../../../../files/line_center_r.jpg) repeat-x left bottom;
}

#block-views-aseptic-block-1 .views-row-first p {
  padding: 20px 0;
}

#block-views-aseptic-block-1 .views-row {
  position: relative;
  cursor: pointer;
}

#block-views-aseptic-block-1 .views-row:not(.views-row-first) .views-field-title {
  opacity: 0;
  position: absolute;
  top: 15px;
  right: 78px;
  padding: 0 20px 0 0;
}

#block-views-aseptic-block-1 .views-row:not(.views-row-first):hover .views-field-title,
#block-views-aseptic-block-1 .views-row.active:not(.views-row-first) .views-field-title {
  background: url(../../../../files/arrow_r.png) no-repeat right center;
}

#block-views-aseptic-block-1 .views-row:not(.views-row-first) .views-field-title .field-content {
  background-color: #eeeeee;
  font-size: 12px;
  border-radius: 3px;
  padding: 5px 10px;
  color: #000000;
  width: auto;
  white-space: nowrap;
}

#block-views-aseptic-block-1 .views-row .views-field-field-menu-icon,
#block-views-aseptic-block-1 .views-row.views-row-first .views-field-title {
  width: 100%;
  height: 56px;
  text-align: center;
  display: table;
}

#block-views-aseptic-block-1 .views-row .views-field-field-menu-icon .field-content,
#block-views-aseptic-block-1 .views-row.views-row-first .views-field-title .field-content{
  display: table-cell;
  vertical-align: middle;
}

#block-views-aseptic-block-1 .views-row:not(.views-row-first):hover .views-field-field-menu-icon,
#block-views-aseptic-block-1 .views-row.active:not(.views-row-first) .views-field-field-menu-icon {
  
}

#block-views-aseptic-block-1 .views-row:not(.views-row-first):hover .views-field-field-menu-icon .field-content,
#block-views-aseptic-block-1 .views-row.active:not(.views-row-first) .views-field-field-menu-icon .field-content {
  background: url('../../../../files/icon_Preparation_Fuel.png') no-repeat center center;
}

#block-views-aseptic-block-1 .views-row:not(.views-row-first):hover .views-field-field-menu-icon .field-content img,
#block-views-aseptic-block-1 .views-row.active:not(.views-row-first) .views-field-field-menu-icon .field-content img {
  display: none;
}

#block-views-aseptic-block-1 .views-row:not(.views-row-first):hover .views-field-title {
  opacity: 1;
}

#block-views-aseptic-block-1 .views-row.active:not(.views-row-first) .views-field-title {
  animation: seconds 7s linear 1;
}

#block-views-aseptic-block,
#block-views-aseptic-block-2 {
  position: absolute;
  top: 0;
  left: 0;
}

#block-views-aseptic-block .views-row,
#block-views-aseptic-block-2 .views-row {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  left: 100vw;
}

#block-views-aseptic-block .views-row.active,
#block-views-aseptic-block-2 .views-row.active {
  left: 0;
}

#block-views-aseptic-block .views-row.views-row-first {
  
}

#block-views-aseptic-block .views-row .views-field-field-fix-background,
#block-views-aseptic-block .views-row .views-field-field-drag-background,
#block-views-aseptic-block-2 .views-row .views-field-field-fix-background,
#block-views-aseptic-block-2 .views-row .views-field-field-drag-background {
  display: none;
}

article.node-4 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  opacity: 0;
}

article.node-4.active {
  animation: thpfadeinwait 1s ease-in-out forwards;
}

#block-views-aseptic-block .views-row:not(.views-row-first) .views-field-nothing,
#block-views-aseptic-block-2 .views-row:not(.views-row-first) .views-field-nothing {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

#block-views-aseptic-block .views-row-first .views-field-nothing {
  position: absolute;
  bottom: 0;
  left: 0;
}

#block-views-aseptic-block .views-row.views-row-first .views-field-nothing,
#block-views-aseptic-block .views-row.views-row-last .views-field-nothing {
  width: 100vw;
  height: auto;
  bottom: 100px;
}

#block-views-aseptic-block .views-row.views-row-first .views-field-nothing svg:first-child {
  position: absolute;
}

#block-views-aseptic-block .views-row.views-row-first .views-field-nothing .field-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100px;
}

#block-views-aseptic-block .views-row.views-row-first .views-field-nothing .field-name-field-title {
  float: left;
  margin: 0 20px;
  width: 130px;
  text-align: center;
}

.dash-line {
  color: #FFFFFF;
  position: relative;
  bottom: -70px;
}

.svg-circle {
  position: relative;
  bottom: -85px;
}

.svg-circle .pw {
  position: absolute;
  cursor: pointer;
  width: 44px;
  height: 51px;
  z-index: 2;
}

.svg-circle .pw .point {
  background: url('../images/icon_hxg.png') 0 0 no-repeat;
  width: 44px;
  height: 51px;
  position: relative;
  left: 0;
  display: none;
  z-index: 2;
}

.svg-circle .pw:first-child .point {
  display: block;
}

.svg-circle .pw .circle {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: #FFFFFF;
  position: absolute;
  top: 19px;
  left: 15px;
}

#block-views-aseptic-block .views-row.views-row-first .views-field-field-parts .entity {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 94px 0 56px;
}

#block-views-aseptic-block .views-row.views-row-first .views-field-field-parts .entity.active .field-name-field-description .field-items {
  animation: thpfadeinwait 1s ease-in forwards;
}

#block-views-aseptic-block .views-row.views-row-first .views-field-field-parts .content {
  display: table;
  width: 100vw;
  height: 100vh;
}

#block-views-aseptic-block .views-row.views-row-first .views-field-field-parts .entity:first-child {
  left: 0;
}

#block-views-aseptic-block .views-row.views-row-first .views-field-field-parts .field-name-field-image {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  position: relative;
  top: -80px;
}

#block-views-aseptic-block .views-row.views-row-first .views-field-field-parts .field-name-field-description {
  position: absolute;
  right: 22%;
  top: 33%;
  width: 468px;
  padding: 0 0 0 200px;
  z-index: 1;
}

#block-views-aseptic-block .views-row.views-row-first .views-field-field-parts .field-name-field-description .field-items {
  opacity: 0;
}

.line {
  height: 1px;
  width: 140px;
  background: #FFFFFF;
  position: absolute;
  top: 37px;
  left: 60px;
  opacity: 0;
}

.entity.active .line {
  animation: thpfadeinwait 1s ease-in forwards;
}

#block-views-aseptic-block .views-row.views-row-first .views-field-body {
  width: 100%;
  height: 100%;
  position: relative;
}

#block-views-aseptic-block .views-row.views-row-last .views-field-body {
  width: 100%;
  height: 100%;
  position: relative;
  display: none;
  z-index: 1;
}

#block-views-aseptic-block .views-row.views-row-first .views-field-body .field-content .next {
  width: 175px;
  height: 37px;
  position: absolute;
  right: 10%;
  top: 40%;
  z-index: 1;
  cursor: pointer;
  border: 1px solid #FFFFFF;
}

#block-views-aseptic-block .views-row.views-row-first .views-field-body .field-content .next div {
  background: url('../images/white-arrow.png') 85% center no-repeat;
  padding: 10px 50px 5px 20px;
  text-transform: uppercase;
}

#block-views-aseptic-block .views-row.views-row-first .views-field-body .field-content .next div:hover {
  animation: blink 0.8s ease-in-out infinite;
}

#block-views-aseptic-block .views-row.views-row-first .views-field-field-parts .entity .field-name-field-image img {
  opacity: 0;
}

#block-views-aseptic-block .views-row.views-row-first .views-field-field-parts .entity:first-child .field-name-field-image img {
  animation: makezoomin 0.5s ease-in-out forwards;
}

#block-views-aseptic-block .views-row .views-field-title,
#block-views-aseptic-block-2 .views-row .views-field-title {
  display: none;
  text-align: center;
  margin: 40px 0 0 0;
  text-transform: uppercase;
  font-size: 170%;
}

#block-views-aseptic-block .views-row.views-row-first .views-field-title {
  display: block;
}

#block-views-aseptic-block .views-row,
#block-views-aseptic-block-2 .views-row {
  opacity: 0;
}

#block-views-aseptic-block .views-row.active,
#block-views-aseptic-block-2 .views-row.active {
  animation: thpfadeinwait 1s ease-in-out forwards;
}

#block-views-aseptic-block-1 .views-row-last {
  display: none;
}

#block-views-aseptic-block .views-row > .views-field-field-image,
#block-views-aseptic-block-2 .views-row > .views-field-field-image {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vw;
  z-index: -1;
}

#block-views-aseptic-block .views-row .views-field-field-background-360-images,
#block-views-aseptic-block-2 .views-row .views-field-field-background-360-images {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vw;
}

#block-views-aseptic-block .views-row .views-field-field-background-360-images ul,
#block-views-aseptic-block .views-row .views-field-field-background-360-images li,
#block-views-aseptic-block-2 .views-row .views-field-field-background-360-images ul,
#block-views-aseptic-block-2 .views-row .views-field-field-background-360-images li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#block-views-aseptic-block .views-row:not(.views-row-first) .views-field-nothing .field-content,
#block-views-aseptic-block-2 .views-row .views-field-nothing .field-content {
  display: block;
  height: 100vh;
  width: 100vw;
  position: relative;
}

#block-views-aseptic-block .views-row:not(.views-row-first) .views-field-nothing .field-name-field-title,
#block-views-aseptic-block-2 .views-row .views-field-nothing .field-name-field-title {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  overflow-y: visible;
  cursor: pointer;
  color: #000000;
}

#block-views-aseptic-block .views-row.field_background_360_images:not(.views-row-first) .views-field-nothing .field-name-field-title,
#block-views-aseptic-block-2 .views-row.field_background_360_images .views-field-nothing .field-name-field-title {
  display: none;
}

#block-views-aseptic-block .views-row:not(.views-row-first) .views-field-nothing .field-name-field-title.hide,
#block-views-aseptic-block-2 .views-row .views-field-nothing .field-name-field-title.hide {
  
}

#block-views-aseptic-block .views-row:not(.views-row-first) .views-field-nothing .field-name-field-title:hover,
#block-views-aseptic-block-2 .views-row .views-field-nothing .field-name-field-title:hover {
  background: #FFFFFF;
}

#block-views-aseptic-block .views-row:not(.views-row-first) .views-field-nothing .field-name-field-title .field-items .field-item,
#block-views-aseptic-block-2 .views-row .views-field-nothing .field-name-field-title .field-items .field-item {
  position: absolute;
  top: 65px;
  padding: 0 20px;
  text-align: center;
  width: 100%;
  display: none;
}

#block-views-aseptic-block .views-row:not(.views-row-first) .views-field-nothing .field-name-field-title .field-items .field-item::after,
#block-views-aseptic-block-2 .views-row .views-field-nothing .field-name-field-title .field-items .field-item::after {
  content: "Chi tiết";
  display: block;
  margin: 10px 0;
  padding: 0 35px 0 0;
  text-align: center;
  background: url('../images/black-arrow.png') 68% center no-repeat;
  font-weight: bold;
}

#block-views-aseptic-block .views-row:not(.views-row-first) .views-field-nothing .field-name-field-title:hover .field-items .field-item,
#block-views-aseptic-block-2 .views-row .views-field-nothing .field-name-field-title:hover .field-items .field-item {
  display: block;
}

#block-views-aseptic-block .views-row:not(.views-row-first) .views-field-nothing .field-name-field-title .field-items,
#block-views-aseptic-block-2 .views-row .views-field-nothing .field-name-field-title .field-items {
  background: url('../images/icon_hxg.png') center bottom no-repeat;
  position: relative;
  height: 212px;
}

#block-views-aseptic-block .views-row:not(.views-row-first) .views-field-nothing .field-name-field-title:nth-child(1),
#block-views-aseptic-block-2 .views-row .views-field-nothing .field-name-field-title:nth-child(1) {
  left: calc(50% - 170px - 90px);
  top: 18%;
}

#block-views-aseptic-block .views-row:not(.views-row-first) .views-field-nothing .field-name-field-title:nth-child(2),
#block-views-aseptic-block-2 .views-row .views-field-nothing .field-name-field-title:nth-child(2) {
  left: 56%;
  top: 10%;
}

#block-views-aseptic-block .views-row:not(.views-row-first) .views-field-field-parts,
#block-views-aseptic-block-2 .views-row .views-field-field-parts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

#block-views-aseptic-block .views-row:not(.views-row-first) .views-field-field-parts .entity,
#block-views-aseptic-block-2 .views-row .views-field-field-parts .entity {
  position: absolute;
  z-index: 1;
  right: -632px;
  height: 100vh;
  width: 632px;
  padding: 0 94px 0 0;
  background: #f1a001;
  animation: itemlideout 0.5s ease-in-out forwards;
}

#block-views-aseptic-block .views-row:not(.views-row-first) .views-field-field-parts .entity.active,
#block-views-aseptic-block-2 .views-row .views-field-field-parts .entity.active {
  display: block;
  animation: itemlidein 0.5s ease-in-out forwards;
}

#block-views-aseptic-block .views-row:not(.views-row-first) .views-field-field-parts .entity .field-content,
#block-views-aseptic-block-2 .views-row .views-field-field-parts .entity .field-content {
  position: relative;
  height: 100vh;
  width: 100%;
}

#block-views-aseptic-block .views-row:not(.views-row-first) .views-field-field-parts .entity:first-child .field-name-field-image .field-item:nth-child(2),
#block-views-aseptic-block-2 .views-row .views-field-field-parts .entity:first-child .field-name-field-image .field-item:nth-child(2) {
  display: block;
  position: absolute;
  right: 565px;
  top: 165px;
  opacity: 0;
  width: 100%;
}

#block-views-aseptic-block .views-row.active:not(.views-row-first) .views-field-field-parts .entity.active:first-child .field-name-field-image .field-item:nth-child(2),
#block-views-aseptic-block-2 .views-row.active .views-field-field-parts .entity.active:first-child .field-name-field-image .field-item:nth-child(2) {
  animation: thpfadeinwait 2s ease-in-out forwards;
}

#block-views-aseptic-block .views-row.active:not(.views-row-first) .views-field-field-parts .entity:first-child .field-name-field-image .field-item:nth-child(2),
#block-views-aseptic-block-2 .views-row.active .views-field-field-parts .entity:first-child .field-name-field-image .field-item:nth-child(2) {
  opacity: 0;
}

#block-views-aseptic-block .views-row:not(.views-row-first) .views-field-field-parts .entity .close,
#block-views-aseptic-block-2 .views-row .views-field-field-parts .entity .close {
  position: absolute;
  bottom: 0;
  right: 94px;
  width: 62px;
  height: 60px;
  background: url('../images/close.png') 0 0 no-repeat;
  cursor: pointer;
}

#block-views-aseptic-block .views-row:not(.views-row-first) .views-field-field-parts.active,
#block-views-aseptic-block-2 .views-row .views-field-field-parts.active {
  z-index: 1;
  background: rgba(0,0,0,0.5);
}

.field-name-field-description {
  text-align: center;
  padding: 40px 40px 20px;
}

.field-name-field-description .label {
  text-transform: uppercase;
  font-size: 150%;
}

.field-name-field-description .title {
  text-transform: uppercase;
  font-size: 250%;
  padding: 40px 0;
  line-height: 50px;
}

.field-name-field-description .desc {
  
}

.field-name-field-description .bnt {
  margin: 40px 0 0 0;
}

.field-name-field-description .bnt span {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 10px 20px;
  margin: 0 auto;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
}

.field-name-field-position {
  display: none;
}