/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Aug 31, 2016, 1:13:08 AM
    Author     : april
*/
/* General */
p{
  margin: 0;
}
/* General */


/* Body */
html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}
.page-node-2 article {
    text-align: center;
    color: #000;
    margin-top: 50%;
}
@media (max-height: 414px) {
  .page-node-2 article{
    margin-top: 20%;
  }
}
.node-2 {
    background: url('../images/may1.png') -260% -10% no-repeat;
    animation: slowfly 60s linear infinite;
    height: 100vh;
}
.page-node-2{
  background: url('../images/home_bg.jpg') no-repeat center bottom fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.field-item.even p{
  margin-bottom: 0;
}
.field-item.even img{
  width: 80%;
}
#introduce{
  font-size: 0.9em;
  font-family: utm_neo_sans_intelbold;
  line-height: 1.2em;
  text-transform: uppercase;
  color: #0f81a2;
}
#introduce p{
  margin-top: 0;
  padding: 18px;
}
@media (max-height: 414px) {
  .img_exper1 img{
    margin-top: -1%;
  }
  #introduce p{
    margin-top: -10px;
    padding: 0 18px;
  }
}
#describe{
  font-size: 0.75em;
  line-height: 1.5em;
}
#describe p{
  margin-top: 3%;
  margin-bottom: 3%;
  padding-left: 18px;
  padding-right: 18px;
}
@media (max-height: 414px) {
  #describe p{
    margin: 0;
  }
}
.img_exper1 a img{
  width: 55%;
}
/* Body */

/* Menu */
#block-block-1{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 56px;
  background: #d11212 url('../images/serpa-leftitem.jpg') 0 56px repeat-x;
  display: flex;
  z-index: 11;
}
#menu-bnt{
  background: url('../images/icon_menu.png') 16px center no-repeat;
  cursor: pointer;
  width: 56px;
  height: 56px;
  transform: rotate(90deg);
  transition: .5s;
}
#menu-bnt.active {
  background: #f0a001 url('../images/icon_menu_active.png') 16px center no-repeat;
  transform: rotate(0deg);
  transition: .5s;
}
.layout-3col.layout-swap{
  margin-left: 0;
  margin-right: 0;
}
.breadcrumb__item img{
  position: absolute;
  top: 3px;
  left: calc((100vw - 50px)/2);
  z-index: 20;
  width: 50px;
  height: 50px;
  transition: 1s;
}
.breadcrumb__item img.active{
  left: calc(100vw - 60px);
}
#copy-right{
  display: none;
}
#block-block-2 .block-wrapper div.menu1 {
    background: url('../images/nen-1.jpg') center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #5f5f5f;
}
#block-block-2 .block-wrapper > div {
    float: left;
    width: 50%;
    height: 50%;
    overflow: hidden;
}
#block-block-2 .block-wrapper > div .menu-inner {
    display: table-cell;
    overflow: hidden;
    height: 80px;
    vertical-align: bottom;
    padding: 0 0 105px 0;
    z-index: 1;
    position: relative;
}
.block.block-block.even{
  /*display: none;*/
}
#block-block-2 {
  margin: 0;
  position: absolute;
  top: -1000px;
  left: 0%;
  z-index: 3;
  display: block;
  transition: 1s;
}
#block-block-2.active{
  top: 56px;
}

#block-block-2.active {
}

#block-block-2 .block-wrapper {
  height: 100vh;
  width: 100vw;
}

#block-block-2 .block-wrapper > div {
  float: left;
  width: 100%;
  height: calc((100% - 56px)/4);
  overflow: hidden;
}
@media (max-height: 414px) {
  #block-block-2 .block-wrapper > div {
    float: left;
    width: 50%;
    height: calc((100% - 56px)/2);
    overflow: hidden;
  }
}

#block-block-2 .block-wrapper > div .menu-inner {
  display: table-cell;
  overflow: hidden;
  height: 80px;
  vertical-align: bottom;
  padding: 0 0 105px 35px;
  z-index: 1;
  position: relative;
  height: 200px;
}

#block-block-2 .block-wrapper > div > div {
  display: table;
  height: 100%;
  padding: 0;
  width: 100%;
  position: relative;
}

#block-block-2 .block-wrapper > div a {
  width: 100%;
  height: 100%;
  display: block;
}

#block-block-2 .block-wrapper div.menu1 {
  background: url('../images/nen-1.jpg') center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: black;
  /*color: #5f5f5f;*/
}

#block-block-2 .block-wrapper div.menu2 {
  background: url('../images/nen-2.jpg') center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: black;
}

#block-block-2 .block-wrapper div.menu3 {
  background: url('../images/nen-2.jpg') center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: black;
}

#block-block-2 .block-wrapper div.menu4 {
  background: url('../images/nen-1.jpg') center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*color: #5f5f5f;*/
  color: black;:
}

#block-block-2 .block-wrapper div.menu1 > div .img-hover {
  background: url('../images/01_nhamay.png') center center no-repeat;
  background-size: 70%;
  width: 445px;
  height: 183px;
  transition: all 0.5s ease-in-out;
  position: absolute;
  right: -100px;
  top: 0;
}

#block-block-2 .block-wrapper div.menu1 > div:hover .img-hover {
  /*background-size: 489px 166.7px;*/
}

#block-block-2 .block-wrapper div.menu2 > div .img-hover {
  background: url('../images/nhanvien1.png') center center no-repeat;
  background-size: 60%;
  width: 323px;
  height: 654px;
  transition: all 0.5s ease-in-out;
  position: absolute;
  left: -50px;
  top: -125px;
}

#block-block-2 .block-wrapper div.menu2 > div:hover .img-hover {
  /*background-size: 323px 654px;*/
}

#block-block-2 .block-wrapper div.menu2 > div .boom {
  position: absolute;
  width: 59px;
  height: 63px;
  opacity: 1;
}

#block-block-2 .block-wrapper div.menu2 > div .boom img {
  width: 55%;
}

#block-block-2 .block-wrapper div.menu2 > div:hover .boom {
  animation: simplefadein 0.5s ease-in-out forwards;
}

#block-block-2 .block-wrapper div.menu2 > div .nv2 {
  top: 132px;
  left: 99px;
  width: 53px;
  height: auto;
}

#block-block-2 .block-wrapper div.menu2 > div .nv3 {
  top: 200px;
  left: 188px;
}

#block-block-2 .block-wrapper div.menu2 > div .nv4 {
  top: 185px;
  left: 80px;
  width: 47px;
  height: auto;
}

#block-block-2 .block-wrapper div.menu2 > div .nv5 {
  top: 157px;
  left: 200px;
  width: 53px;
  height: auto;
}

#block-block-2 .block-wrapper div.menu2 > div .nv6 {
  top: 126px;
  left: 161px;
  width: 56px;
  height: auto;
}

.menu-wrapper2 .menu-inner, .menu-wrapper4 .menu-inner{
  float: right;
}
#block-block-2 .block-wrapper .menu-wrapper2 .menu-inner .title{
  width: 170px;
}
#block-block-2 .block-wrapper .menu-wrapper4 .menu-inner .title{
  width: 150px;
}

#block-block-2 .block-wrapper div.menu3 > div .img-hover {
  background: url('../images/03_lamphoichai.png') center center no-repeat;
  background-size: 70%;
  width: 370px;
  height: 290px;
  transition: all 0.5s ease-in-out;
  position: absolute;
  right: -80px;
  top: -60px;
  z-index: 0;
}

#block-block-2 .block-wrapper div.menu3 > div:hover .img-hover {
  /*background-size: 340px 164px;*/
}

#block-block-2 .block-wrapper div.menu4 > div .img-hover {
  background: url('../images/mayinannhanchai.png') center center no-repeat;
  background-size: 40%;
  width: 380px;
  height: 300px;
  transition: all 0.5s ease-in-out;
  position: absolute;
  left: -84px;
  top: -70px;
}

#block-block-2 .block-wrapper div.menu4 > div:hover .img-hover {
  /*background-size: 320px 259px;*/
}

#block-block-2 .block-wrapper > div .label {
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 20px;
  /*margin-bottom: -12px;*/
}

#block-block-2 .block-wrapper > div .title {
  text-transform: uppercase;
  font-weight: bold;
  padding: 0;
  font-size: 58%;
  line-height: 18px;
  width: 120px;
  margin-bottom: 10px;
}

#block-block-2 .block-wrapper > div .desc-view {
  overflow: visible;
  animation: shorter 0.5s ease-in-out forwards;
  height: 100px;
}

#block-block-2 .block-wrapper > div:hover .desc-view {
  /*animation: taller 0.5s ease-in-out forwards;*/
}

#block-block-2 .block-wrapper > div .desc {
  margin: 0 0 20px 0;
  padding: 30px 0 0 0;
  font-size: 80%;
  display: none;
}

#block-block-2 .block-wrapper > div .view {
  border: 2.5px solid #FFFFFF;
  display: block;
  float: left;
  /*height: 25%;*/
  opacity: 1;
}
@media (max-height: 414px) {
  #block-block-2 .block-wrapper > div.menu2 .menu-inner,  #block-block-2 .block-wrapper > div.menu4 .menu-inner{
    padding: 0 0 105px 200px;
  }
  #block-block-2 .block-wrapper > div.menu1 .menu-inner,   #block-block-2 .block-wrapper > div.menu3 .menu-inner{
    padding: 0 0 105px 27px;
  }
}

#block-block-2 .block-wrapper > div:hover .view {
  animation: thpfadeinwait 1s linear forwards;
}

#block-block-2 .block-wrapper > div .view a,
#block-block-2 .block-wrapper > div .view div {
  display: block;
  text-transform: uppercase;
  padding: 5px 10px 3px;
  /*background: #ff0000;*/
  background: #d0281e;
  text-decoration: none;
  color: #FFF;
  font-size: 1%;
  cursor: pointer;
  line-height: 150%;
}

#block-block-2 .block-wrapper > div .serpa {
  height: 1px;
  width: 40px;
  background: #FFFFFF;
  display: none;
}

#block-block-2 > div > div {

}

#question-bnt .left-item-inner {
  background: url('../images/question.png') center center no-repeat;
  display: block;
  height: 56px;
  cursor: pointer;
}

#question-bnt {
  background: url('../images/serpa-leftitem.jpg') 0 0 repeat-x;
  height: 56px;
  opacity: 0;
  left: -56px;
  bottom: 0;
  transition: .5s;
  display: block;
}
#question-bnt.active{
  opacity: 1;
  left: 112px;
  transition: .5s;
  transition-delay: .5s;
}

#fb-bnt {
  background: url('../images/serpa-leftitem.jpg') 0 0 repeat-x;
  height: 56px;
  opacity: 0;
  left: -56px;
  bottom: 0;
  transition: .5s;
  /*transition-delay: .5s;*/
}
#fb-bnt.active{
  opacity: 1;
  left: 60px;
  transition: .5s;
  transition-delay: .5s;
}

#fb-bnt a {
  background: url('../images/icon_fb.png') 19px center no-repeat;
  display: block;
  height: 56px;
}

#youtube-bnt {
  background: url('../images/serpa-leftitem.jpg') 0 0 repeat-x;
  bottom: 0;
  height: 56px;
  display: none;
}

#youtube-bnt a {
  background: url('../images/icon-youtube.png') 12px center no-repeat;
  display: block;
  height: 56px;
}

#copy-right {
  bottom: 180px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform: rotate(-90deg);
  white-space:nowrap;
  padding: 0 0 0 10px;
  color: #FFFFFF;
  font-size: 70%;
}
#volume-bnt{
  background: url('../images/serpa-leftitem.jpg') 0 0 repeat-x;
  bottom: 0;
  height: 56px;
  left: -56px;
  opacity: 0;
  transition: .5s;
  display: none;
}
#volume-bnt.active{
  opacity: 1;
  left: 168px;
  transition: .5s;
  transition-delay: .5s;
}

.left-item {
  width: 56px;
  position: absolute;
}
/** End Menu ***/


/* Factory */
body.page-node-3  {
	background: url('../../../../modules/custom/mobile/images/factory_bg.png') no-repeat center bottom;
	width: 100%;
	height: 100%;
  background-size: 115%;
}
@media (max-height: 414px){
  body.page-node-3 {
    background: url('../../../../modules/custom/mobile/images/factory_bg2.png') no-repeat center bottom;
    background-size: 100%;
  }
}

.fac-logo {
	text-align: center;
  margin-top: 85px;
}
.fac-logo img{
  width: 80%;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
@media (max-height: 414px) {
  .field-item.even .fac-logo img{
    width: 23%;
  }
}

.fac-desc {
	text-align: center;
  display: none;
}

.nav_wapper {
	text-align: center;
}
.nav_wapper nav{
  display: none;
}
.process {
	padding: 6px 5px 5px 5px;
	display: inline-block;
	border: 2px solid #ffffff;
	border-radius: 50px 50px;
	height: 39px;
}

.process a {
	font-size: 14px;
	text-decoration: none;
  color: #ffffff;
  width: 100%;
  border-left: 1px solid #ffffff;
  padding: 8px 8px 5px 13px;
}

.process a:hover {
  color: #000000;
}

.process a#process1 {
	border-left: none;
}

.process a:active {
    color: #000 !important;
}

.process a > span {
	position: relative;
	top: -3px;
}

.process a > img {
	position: relative;
	top: 2px;
	left: -3px;
}
.points {
	display: inline-flex;
  position: fixed;
  bottom: 238px;
  left: -55px;
}

.points > div {
	position: absolute;
	display: block;
  top: -183px;
  width: 0;
  z-index: 0;
}

.points .pnt {
  text-align: center;
  border: 3px solid #f4f4f4;
  border-radius: 4px;
  background: #c71e1e;
  height: 30%;
  width: 86%;
  padding: 10px;
  opacity: 0;
  cursor: pointer;
  position: fixed;
  top: 32%;
  left: 7%;
  background-size: cover !important;
}

@media (max-height: 414px){
  .points .pnt{
    width: 26%;
    top: 37%;
    left: 36%;
  }
}

.points .pnt.active{
  opacity: 1;
}

.points .ubl {
  text-align: center;
  color: #000000;
  position: relative;
  margin-top: 144px;
}

.points .ubl img {
  position: relative;
  top: -10px;
  cursor: pointer;
  left:85px;
  max-width: inherit;
  z-index: 1;
  width: 20px;
  transform: scale(1);
}
.points .ubl img.active{
  -webkit-animation: popout .7s 1;
    animation: popout .7s 1;
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes popout {
    0%   {transform: scale(1.1);}
    50%  {transform: scale(1.6);}
    100% {transform: scale(1.2);}
}
@keyframes popout {
  0%   {transform: scale(1.1);}
  50%  {transform: scale(1.6);}
  100% {transform: scale(1.2);}
}
.points .title {
	display: block;
	font-size: 14px;
	text-transform: uppercase;
	font-family: utm_neo_sans_intelbold;
	color: #ffffff;
}

.points .desc {
	font-family: utm_neo_sans_intel;
	font-size: 14px;
	display: block;
	color: #ffffff;
  padding: 10px 0;
}
.points .btn_fct {
	display: inline-block;
	font-size: 14px;
	background-color: #ffc507;
	border-radius: 25px;
	border: 3px solid #ff8400;
	width: 115px;
	height: 40px;
}

.points .wapper_btnfct > a {
	font-size: 14px;
	text-decoration: none;
  line-height: 36px;
}

.points .wapper_btnfct > a:active {
	color: #000;
}

.points .btn_fct img#img_arrow {
	margin: 0 auto;
  position: relative;
  top: 3px;
  right: -14px;
}


.wp_p12 {
  left: calc(100vw / 9);
}

.wp_p11 {
  left: calc(100vw / 6);
}

.wp_p10 {
  left: calc(100vw / 4.7);
}

.wp_p9 {
  left: calc(100vw / 4);
}

.wp_p8 {
  left: calc(100vw / 3.4);
}

.wp_p7 {
  left: calc(100vw / 2.9);
}

.wp_p6 {
  left: calc(100vw / 2.5);
}

.wp_p5 {
  left: calc(100vw / 2.25);
}

.wp_p4 {
  left: calc(100vw / 2);
}

.wp_p3 {
  left: calc(100vw / 1.85);
}

.wp_p2 {
  left: calc(100vw / 1.7);
}

.wp_p1 {
  left: calc(100vw / 1.55);
}

.ubl > span {
  font-size: 10px;
  position: absolute;
  top: -10px;
  left: 89px;
  z-index: 2;
  font-weight: bold;
  display: block;
  width: 11px;
  text-align: center;
}

#wp_cloud {
	position: relative;
	height: 100%;
	z-index: 1;
}

.cloud_topLeft {
	position: absolute;
	top:0;
	left: 0;
	opacity: 1;
}

.cloud_topRight {
	position: absolute;
	top: 0;
	right: 0;
	opacity: 1;
}

.cloud_bottomLeft {
	position: fixed;
	bottom: 0;
	left: 0;
	opacity: 1;
	margin-bottom: -1%;
}

#pnt1 {
  background: url('../images/gd1.png') center bottom no-repeat;
}

#pnt2 {
  background: url('../images/gd2.png') center bottom no-repeat;
}

#pnt3 {
  background: url('../images/gd3.png') center bottom no-repeat;
}

#pnt4 {
  background: url('../images/gd4.png') center bottom no-repeat;
}

#pnt5 {
  background: url('../images/gd5.png') center bottom no-repeat;
}

#pnt6 {
  background: url('../images/gd6.png') center bottom no-repeat;
}

#pnt7 {
  background: url('../images/gd7.png') center bottom no-repeat;
}

#pnt8 {
  background: url('../images/gd8.png') center bottom no-repeat;
}

#pnt9 {
  background: url('../images/gd9.png') center bottom no-repeat;
}

#pnt10 {
  background: url('../images/gd10.png') center bottom no-repeat;
}
#pnt11 {
  background: url('../images/gd11.png') center bottom no-repeat;
}
#pnt12 {
  background: url('../images/gd12.png') center bottom no-repeat;
}
#wp_cloud{
  display: none;
}
.btn_next{
  width: 56px;
  height: 56px;
  position: relative;
  z-index: 2;
  top: 100px;
  left: 319px;
  cursor: pointer;
}
.btn_back{
  width: 56px;
  height: 56px;
  position: relative;
  z-index: 2;
  top: 100px;
  left: -56px;
  cursor: pointer;
}
@media (max-height: 414px) {
  .btn_next{
    width: 28px;
    height: 28px;
    position: absolute;
    top: 131%;
    left: 60%;
  }
  .btn_back{
    width: 28px;
    height: 28px;
    position: absolute;
    top: 131%;
    left: 34%;
  }
}
/* End factory */


/* Aseptic */
body.page-node-4 {
	background-color: #919191;
}
.wp_experience {
	margin: 0 auto;
	position: relative;
	width: 768px;
}

.hexagon {
  width: 200px;
  height: 200px;
  background-color: #eeeeee;
  margin: 86.60px 0;
  border-radius: 50%;
  opacity: 0;
  transition: .5s;
  position: absolute;
  left: calc((100vw - 200px)/2);
  top: 37px;
  z-index: 2;
}
.hexagon.active{
  opacity: 1;
  transition: .5s;
}
@media (max-height: 414px) {
  .hexagon{

  }
}


.hexagon.p1 {
}

@-webkit-keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

.hexagon.p2 {
}

.hexagon.p3 {
}

.hexagon.p4 {
}

.hexagon:hover {
	background-color: #f1e601;
}

.hexagon:hover:before {
    bottom: 100%;
    border-bottom: 60px solid #f1e601;
}

.hexagon:hover:after {
	top: 100%;
	width: 0;
	border-top:60px solid #f1e601;
}

.hexagon >.desc_hexagon {
	color: #000000;
	font-size: 14px;
	text-align: center;
	position: relative;
	margin: 40% 0 0 0;
  line-height: 20px;
}

.hexagon:hover >.desc_hexagon {
	color: #000000;
}

.person_experience {
	background: url('../images/nhanvien.png') no-repeat 567px bottom fixed;
	text-align: center;
  height: 100vh;
  background-size: 21%;
}

.hexagon.p1 >.icon_ex {
	position: absolute;
	margin: 13px 0 24px 74px;
}

.hexagon.p2 >.icon_ex {
	position: absolute;
	margin: 13px 0 0 44px;
}

.hexagon.p3 >.icon_ex {
	position: absolute;
	margin: 13px 0 0 80px;

}

.hexagon.p4 >.icon_ex {
	position: absolute;
	margin: 20px 0 0 80px;
}

.btn_process1 {
	text-align: center;
  border: 2px solid #ffffff;
  padding: 7px 15px 5px;
  position: absolute;
  left: auto;
  right: 137px;
  top: 320px;
  opacity: 0.5;
	transition:all 0.1s ease-in;
	cursor: pointer;
}

.btn_process1 >span, .btn_process1 >img {
	font-size: 14px;
	display: inline-block;
  padding: 0 5px;
}

.btn_process1:hover {
	opacity: 1.5;
}

.wp_experience > svg {
	position: absolute;
	top: 10px;
	z-index: 1;
}

@media (max-width: 1200px) {
	.btn_process1 {
		display: none;
	}
}

#block-block-3 {
height: 100vh;
width: 94px;
position: absolute;
top: 0;
right: 0;
background-color: #d11212;
}
.r_item_header {
 text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    height: 62px;
    line-height: 14px;
}

.r_item_header>span {
 position: relative;
    top: 15px;
    margin: 0px;
}

.r_item_header:hover {
 background: #f1a001;
}

.wp_r_item {
 width: 100%;
    height: 56px;
}
.wp_r_item > a .r_item {
 width: 100%;
 height: 56px;
}

.wp_r_item > a {
 display: block;
}

.wp_r_item:hover {
 width: 100%;
    height: 56px;
    background: url('../../../../files/icon_Preparation_Fuel.png') no-repeat center center;
    background-color: #a20202;
}

.tooltip_item {
 position: relative;
 display: inline-block;
}

.tooltip_item .tooltip_item_text {
 visibility: hidden;
 background-color: #eeeeee;
 font-size: 12px;
 border-radius: 3px;
 padding: 5px 10px;
 color: #000000;
 position: absolute;
 top: 15px;
    right: 100px;
 width: auto;
 white-space: nowrap;
}

.tooltip_item_text:after {
 content: '';
 background: url('../../../../files/arrow_r.png')no-repeat;
 position: absolute;
 top: 7px;
 right: -30px;
 width: 14px;
 height: 14px;
}

.tooltip_item:hover .tooltip_item_text {
 visibility: visible;
}
.tooltipClass_r_item {
 border: 0 solid #eeeeee;
 padding: 5px 10px;
 background-color: #eeeeee;
}

.r_item1 {
 background: url('../../../../files/icon_bottled_check.png') no-repeat center center;
}

.r_item2 {
 background: url('../../../../files/icon_Filling_sterile.png') no-repeat center center;
}

.r_item3 {
 background: url('../../../../files/icon_mixing.png') no-repeat center center;
}

.r_item4 {
 background: url('../../../../files/icon_heat_treatment.png') no-repeat center center;
}

.r_item5 {
 background: url('../../../../files/icon_extraction.png') no-repeat center center;
}

.r_item6 {
 background: url('../../../../files/icon_centrifugal_filter.png') no-repeat center center;
}

.r_item7 {
 background: url('../../../../files/icon_extraction.png') no-repeat center center;
}

.r_item8 {
 background: url('../../../../files/icon_testingProcess.png') no-repeat center center;
}

.r_item9 {
 background: url('../../../../files/icon_Preparation_Fuel.png') no-repeat center center;
}

.r_item10 {
 background: url('../../../../files/icon_sound.png') no-repeat center center;
}
.r_item9:after, .r_item_header:after {
    content: '';
    background: url('../../../../files/line_center_r.jpg')repeat-x;
    width: 94px;
    height: 2px;
    top: 62px;
    left: 0;
    position: absolute;
  }


#block-views-aseptic-block-1 .views-row-2 {
  position: absolute;
  top: calc(48px * 11);
}

#block-views-aseptic-block-1 .views-row-2 {
  position: absolute;
  top: calc(48px * 10);
}

#block-views-aseptic-block-1 .views-row-3 {
  position: absolute;
  top: calc(48px * 9);
}

#block-views-aseptic-block-1 .views-row-4 {
  position: absolute;
  top: calc(48px * 8);
}

#block-views-aseptic-block-1 .views-row-5 {
  position: absolute;
  top: calc(48px * 7);
}

#block-views-aseptic-block-1 .views-row-6 {
  position: absolute;
  top: calc(48px * 6);
}

#block-views-aseptic-block-1 .views-row-7 {
  position: absolute;
  top: calc(48px * 5);
}

#block-views-aseptic-block-1 .views-row-8 {
  position: absolute;
  top: calc(48px * 4);
}

#block-views-aseptic-block-1 .views-row-9 {
  position: absolute;
  top: calc(48px * 3);
}

#block-views-aseptic-block-1 .views-row-10 {
  position: absolute;
  top: calc(48px * 2);
}

#block-views-aseptic-block-1 .views-row-11 {
  position: absolute;
  top: calc(48px * 1);
}

#block-views-aseptic-block-1 .views-row-12 {
  position: absolute;
  top: 48px;
  display: none;
}
#block-views-aseptic-block-1 {
    right: 0;
    overflow: hidden;
    width:0;
    transition: .5s;
    z-index: 1;
    margin-top: 55px;
}
#block-views-aseptic-block-1.active{
  width:56px;
  transition: .5s;
}
#block-views-aseptic-block .views-field-body .bnt span{
  /*display: none;*/
  display: block;
  padding: 0 3px;
  font-size: 12px;
}
#block-views-aseptic-block .views-row.views-row-first .views-field-field-parts .entity .field-name-field-image img,
#block-views-bottle-block .views-row.views-row-first .views-field-field-parts .entity .field-name-field-image img{
  margin-top: 70%;
  padding-right: 20%;
}
@media (max-height: 414px) {
  #block-views-aseptic-block .views-row.views-row-first .views-field-field-parts .entity .field-name-field-image img,
  #block-views-bottle-block .views-row.views-row-first .views-field-field-parts .entity .field-name-field-image img{
    margin-top: 33%;
    padding-right: 12%;
  }
  #block-views-aseptic-block .views-row.views-row-first .views-field-field-parts .entity .field-name-field-image img,
  #block-views-bottle-block .views-row.views-row-first .views-field-field-parts .entity .field-name-field-image img {
    width: 140px;
  }
}

#block-views-aseptic-block .wp_experience svg{
  display: none;
}
.field-item.even p{
  margin-top: -70px;
}
/*#block-views-aseptic-block .views-row .entity .field-item p,*/
#block-views-bottle-block .views-row .entity .field-item p{
  position: absolute;
  left: 0;
}
#block-views-bottle-block .views-row .entity .field-item p{
  margin-top: 0;
}
@media (max-height: 414px) {
  #block-views-aseptic-block .views-row-first .entity .field-item p{
    position: absolute;
    left: -32%;
    margin-top: -30px;
  }
    #block-views-bottle-block .views-row .entity .field-item p{
      left: -102px;
    }
}
.field-name-field-description .line{
  display: none;
}
#block-views-aseptic-block .views-row,
#block-views-aseptic-block-2 .views-row,
#block-views-bottle-block .views-row
#block-views-label-block .views-row
{
  left: 0;
  opacity: 1;
  width: 0px;
  overflow: hidden;
  z-index: 10;
}
#block-views-aseptic-block .views-row.active,
#block-views-aseptic-block-2 .views-row.active,
#block-views-bottle-block .views-row.active
#block-views-label-block .views-row.active
{
  width: 100vw;
}
.wp_experience{
  width: 100%;
}
#block-views-aseptic-block .views-row-first .views-field-nothing, #block-views-bottle-block .views-row-first .views-field-nothing{
  display: none;
}
.introduce-title{
  position: absolute;
  top: 64px;
  left: calc((100vw - 238px)/2);
  z-index: 100;
  display: inline;
  width: 238px;
  text-transform: uppercase;
  text-align: center;
}
@media (max-height: 414px) {
  .introduce-title{
    margin: 0;
  }
}
.swipe-title{
  position: absolute;
  left: calc((100vw - 238px)/2);
  top: calc(100vh - 115px);
  z-index: 100;
  display: inline;
  width: 238px;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 200;
}
@media (max-height: 414px) {
  .swipe-title{
    top: calc(100vh - 55px);
  }
}
.aseptic-process, .bottle-process{
  position: absolute;
  left: calc((100vw - 238px)/2);
  top: calc(100vh - 145px);
  z-index: 100;
  width: 238px;
  font-size: 0.8em;
  font-weight: 400;
  text-align: center;
  display: none;
}
@media (max-height: 414px) {
  .aseptic-process, .bottle-process{
    top: calc(100vh - 50px);
  }
}
.aseptic-process.active, .bottle-process.active{
  display: inline;
}
.guide-emp{
  position: absolute;
  top: 50vh;
  left: calc((100vw - 288px)/2);
}
@media (max-height: 414px) {
  .guide-emp{
    left: 0
  }
}
#block-views-aseptic-block .views-row .field-item.even img{
  width: 100%;
}

#block-views-aseptic-block .views-row .field-name-field-description.field-type-text-long div img {
  height: 80px;
  width: auto;
}

@media (max-height: 414px) {
  #block-views-aseptic-block .views-row.views-row-10 .field-item.even img{
    width: 100%;
    margin-top: 40%;
  }
  #block-views-aseptic-block .views-row.views-row-10 .entity .content{
    display: flex;
  }
  #block-views-aseptic-block .views-row.views-row-10 .entity .content .field-type-image:nth-child(1){
    width: 30%;
  }
  #block-views-aseptic-block .views-row.views-row-10 .entity .content .field-name-field-description {
    width: 70%;
    padding-top: 30px;
  }
  #block-views-aseptic-block .views-row.views-row-10 .entity .field-item p{
    position: static;
    margin-top: 0;
  }
  #block-views-aseptic-block .views-row.views-row-9 .field-item.even img{
    width: 100%;
    margin-top: 40%;
  }
  #block-views-aseptic-block .views-row.views-row-9 .entity .content{
    display: flex;
  }
  #block-views-aseptic-block .views-row.views-row-9 .entity .content .field-type-image:nth-child(1){
    width: 30%;
  }
  #block-views-aseptic-block .views-row.views-row-9 .entity .content .field-name-field-description {
    width: 70%;
    padding-top: 30px;
  }
  #block-views-aseptic-block .views-row.views-row-9 .entity .field-item p{
    position: static;
    margin-top: 0;
  }
}
.aseptic-footer{
  background-color: #d11212;
  width: 100vw;
  height: 0;
  position: absolute;
  bottom: 0;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
  transition: .5s;
}
.aseptic-footer.active{
  height: 56px;
  transition: .5s;
}
.footer-left-btn{
    width: 56px;
    padding: 9px;
}
.footer-left-btn img{
  width: 40px;
}
.footer-right-btn img{
  width: 56px;
}
.footer-text{
  width: calc(100vw - 112px);
  padding-top: 18px;
}
.wp-next-aseptic{
  text-transform: uppercase;
  position: absolute;
  right: 10px;
  top: 48%;
  text-align: right;
  width: 86px;
  font-size: 13px;
  font-weight: 400;
  z-index: 3;
}
.wp-next-aseptic img{
  width: 25px;
}
.line-wrapper img{
  position: absolute;
  left: 66px;
  width: 39%;
  top: 210px;
  z-index: 0;
}
#block-views-aseptic-block .wp_experience .person_experience{
  background: none;
}

#block-views-aseptic-block .field_270_background .views-field-body .nav,
#block-views-aseptic-block-2 .field_270_background .views-field-body .nav,
#block-views-bottle-block .field_270_background .views-field-body .nav,
#block-views-label-block .field_270_background .views-field-body .nav,
#block-views-label-block-2 .field_270_background .views-field-body .nav {
    background: url(../images/nav.png) center 0 no-repeat;
    width: 100%;
    height: 87px;
    position: absolute;
    bottom: 56px;
    text-transform: uppercase;
    text-align: center;
    line-height: 135px;
}

#block-views-aseptic-block .views-row-11 .views-field-body .nav {
    color: #d11212;
}
/* End Aseptic */

/* Label */
.entity.entity-field-collection-item.field-collection-item-field-parts.clearfix[about="/thpv1/field-collection/field-parts/49"]{
  display: none;
}
/* Label */

/* Disable jQuery mobile loading text */
.ui-loading .ui-loader { display: block; }
.ui-loader { display: none; position: absolute; opacity: .85; z-index: 100; left: 50%; width: 200px; margin-left: -130px; margin-top: -35px; padding: 10px 30px; }
/* End - Disable jQuery mobile loading text */
