/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Aug 31, 2016, 1:13:08 AM
    Author     : april
*/
/* General */
p{
  margin: 0;
}
/* General */


/* Body */
html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}
.page-node-2 article {
    text-align: center;
    color: #000;
    margin-top: 5vh;
}
.node-2 {
    background: url('../images/may1.png') -260% -10% no-repeat;
    animation: slowfly 60s linear infinite;
    height: 100vh;
}
.page-node-2{
  background: url('../images/homepagebg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.field-item.even p{
  margin-bottom: 0;
}
.field-item.even > img{
  width: 80%;
}
#introduce{
  font-size: 0.6em;
  font-family: utm_neo_sans_intelbold;
  line-height: 1.2em;
  text-transform: uppercase;
  color: #0f81a2;
}
#introduce p{
  margin-top: 0;
}
#describe{
  font-size: 0.5em;
  line-height: 1em;
}
#describe p{
  margin-top: 3%;
  margin-bottom: 3%;
}
.img_exper1 a img{
  width: 55%;
}
/* Body */

/* Menu */
#block-block-1{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 56px;
  background: #d11212 url('../images/serpa-leftitem.jpg') 0 56px repeat-x;
  display: flex;
  z-index: 11;
}
#menu-bnt{
  background: url('../images/icon_menu.png') 16px center no-repeat;
  cursor: pointer;
  width: 56px;
  height: 56px;
  transform: rotate(90deg);
  transition: .5s;
}
#menu-bnt.active {
  background: #f0a001 url('../images/icon_menu_active.png') 16px center no-repeat;
  transform: rotate(0deg);
  transition: .5s;
}
.layout-3col.layout-swap{
  margin-left: 0;
  margin-right: 0;
}
.breadcrumb__item img{
  position: absolute;
  top: 3px;
  left: calc((100vw - 50px)/2);
  z-index: 20;
  width: 50px;
  height: 50px;
  transition: 1s;
}
.breadcrumb__item img.active{
  left: calc(100vw - 60px);
}
#copy-right{
  display: none;
}
#block-block-2 .block-wrapper div.menu1 {
    background: url('../images/nen-1.jpg') center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #5f5f5f;
}
#block-block-2 .block-wrapper > div {
    float: left;
    width: 50%;
    height: 50%;
    overflow: hidden;
}
#block-block-2 .block-wrapper > div .menu-inner {
    display: table-cell;
    overflow: hidden;
    height: 80px;
    vertical-align: bottom;
    padding: 0 0 105px 0;
    z-index: 1;
    position: relative;
}
.block.block-block.even{
  /*display: none;*/
}
#block-block-2 {
  margin: 0;
  position: absolute;
  top: -1000px;
  left: 0%;
  z-index: 3;
  display: block;
  transition: 1s;
}
#block-block-2.active{
  top: 56px;
}

#block-block-2.active {
}

#block-block-2 .block-wrapper {
  height: 100vh;
  width: 100vw;
}

#block-block-2 .block-wrapper > div {
  float: left;
  width: 100%;
  height: calc((100% - 56px)/4);
  overflow: hidden;
}

#block-block-2 .block-wrapper > div .menu-inner {
  display: table-cell;
  overflow: hidden;
  height: 80px;
  vertical-align: bottom;
  padding: 0 0 105px 35px;
  z-index: 1;
  position: relative;
  height: 200px;
}

#block-block-2 .block-wrapper > div > div {
  display: table;
  height: 100%;
  padding: 0;
  width: 100%;
  position: relative;
}

#block-block-2 .block-wrapper > div a {
  width: 100%;
  height: 100%;
  display: block;
}

#block-block-2 .block-wrapper div.menu1 {
  background: url('../images/nen-1.jpg') center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: black;
  /*color: #5f5f5f;*/
}

#block-block-2 .block-wrapper div.menu2 {
  background: url('../images/nen-2.jpg') center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: black;
}

#block-block-2 .block-wrapper div.menu3 {
  background: url('../images/nen-2.jpg') center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: black;
}

#block-block-2 .block-wrapper div.menu4 {
  background: url('../images/nen-1.jpg') center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*color: #5f5f5f;*/
  color: black;:
}

#block-block-2 .block-wrapper div.menu1 > div .img-hover {
  background: url('../images/01_nhamay.png') center center no-repeat;
  background-size: 70%;
  width: 445px;
  height: 183px;
  transition: all 0.5s ease-in-out;
  position: absolute;
  right: -100px;
  top: 0;
}

#block-block-2 .block-wrapper div.menu1 > div:hover .img-hover {
  background-size: 489px 166.7px;
}

#block-block-2 .block-wrapper div.menu2 > div .img-hover {
  background: url('../images/nhanvien1.png') center center no-repeat;
  background-size: 60%;
  width: 323px;
  height: 654px;
  transition: all 0.5s ease-in-out;
  position: absolute;
  left: -50px;
  top: -125px;
}

#block-block-2 .block-wrapper div.menu2 > div:hover .img-hover {
  background-size: 323px 654px;
}

#block-block-2 .block-wrapper div.menu2 > div .boom {
  position: absolute;
  width: 59px;
  height: 63px;
  opacity: 1;
}

#block-block-2 .block-wrapper div.menu2 > div .boom img {
  width: 55%;
}

#block-block-2 .block-wrapper div.menu2 > div:hover .boom {
  animation: simplefadein 0.5s ease-in-out forwards;
}

#block-block-2 .block-wrapper div.menu2 > div .nv2 {
  top: 132px;
  left: 99px;
  width: 53px;
  height: auto;
}

#block-block-2 .block-wrapper div.menu2 > div .nv3 {
  top: 200px;
  left: 188px;
}

#block-block-2 .block-wrapper div.menu2 > div .nv4 {
  top: 185px;
  left: 80px;
  width: 47px;
  height: auto;
}

#block-block-2 .block-wrapper div.menu2 > div .nv5 {
  top: 157px;
  left: 200px;
  width: 53px;
  height: auto;
}

#block-block-2 .block-wrapper div.menu2 > div .nv6 {
  top: 126px;
  left: 161px;
  width: 56px;
  height: auto;
}

.menu-wrapper2 .menu-inner, .menu-wrapper4 .menu-inner{
  float: right;
}
#block-block-2 .block-wrapper .menu-wrapper2 .menu-inner .title{
  width: 170px;
}
#block-block-2 .block-wrapper .menu-wrapper4 .menu-inner .title{
  width: 150px;
}

#block-block-2 .block-wrapper div.menu3 > div .img-hover {
  background: url('../images/03_lamphoichai.png') center center no-repeat;
  background-size: 70%;
  width: 370px;
  height: 290px;
  transition: all 0.5s ease-in-out;
  position: absolute;
  right: -80px;
  top: -60px;
  z-index: 0;
}

#block-block-2 .block-wrapper div.menu3 > div:hover .img-hover {
  background-size: 340px 164px;
}

#block-block-2 .block-wrapper div.menu4 > div .img-hover {
  background: url('../images/mayinannhanchai.png') center center no-repeat;
  background-size: 40%;
  width: 380px;
  height: 300px;
  transition: all 0.5s ease-in-out;
  position: absolute;
  left: -84px;
  top: -70px;
}

#block-block-2 .block-wrapper div.menu4 > div:hover .img-hover {
  background-size: 320px 259px;
}

#block-block-2 .block-wrapper > div .label {
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 20px;
  /*margin-bottom: -12px;*/
}

#block-block-2 .block-wrapper > div .title {
  text-transform: uppercase;
  font-weight: bold;
  padding: 0;
  font-size: 58%;
  line-height: 18px;
  width: 120px;
  margin-bottom: 10px;
}

#block-block-2 .block-wrapper > div .desc-view {
  overflow: visible;
  animation: shorter 0.5s ease-in-out forwards;
  height: 100px;
}

#block-block-2 .block-wrapper > div:hover .desc-view {
  animation: taller 0.5s ease-in-out forwards;
}

#block-block-2 .block-wrapper > div .desc {
  margin: 0 0 20px 0;
  padding: 30px 0 0 0;
  font-size: 80%;
  display: none;
}

#block-block-2 .block-wrapper > div .view {
  border: 2.5px solid #FFFFFF;
  display: block;
  float: left;
  /*height: 25%;*/
  opacity: 1;
}

#block-block-2 .block-wrapper > div:hover .view {
  animation: thpfadeinwait 1s linear forwards;
}

#block-block-2 .block-wrapper > div .view a,
#block-block-2 .block-wrapper > div .view div {
  display: block;
  text-transform: uppercase;
  padding: 5px 10px 3px;
  /*background: #ff0000;*/
  background: #d0281e;
  text-decoration: none;
  color: #FFF;
  font-size: 1%;
  cursor: pointer;
  line-height: 150%;
}

#block-block-2 .block-wrapper > div .serpa {
  height: 1px;
  width: 40px;
  background: #FFFFFF;
  display: none;
}

#block-block-2 > div > div {

}

#question-bnt .left-item-inner {
  background: url('../images/question.png') center center no-repeat;
  display: block;
  height: 56px;
  cursor: pointer;
}

#question-bnt {
  background: url('../images/serpa-leftitem.jpg') 0 0 repeat-x;
  height: 56px;
  opacity: 0;
  left: -56px;
  bottom: 0;
  transition: .5s;
}
#question-bnt.active{
  opacity: 1;
  left: 112px;
  transition: .5s;
  transition-delay: .5s;
}

#fb-bnt {
  background: url('../images/serpa-leftitem.jpg') 0 0 repeat-x;
  height: 56px;
  opacity: 0;
  left: -56px;
  bottom: 0;
  transition: .5s;
  /*transition-delay: .5s;*/
}
#fb-bnt.active{
  opacity: 1;
  left: 60px;
  transition: .5s;
  transition-delay: .5s;
}

#fb-bnt a {
  background: url('../images/icon_fb.png') 19px center no-repeat;
  display: block;
  height: 56px;
}

#youtube-bnt {
  background: url('../images/serpa-leftitem.jpg') 0 0 repeat-x;
  bottom: 0;
  height: 56px;
  display: none;
}

#youtube-bnt a {
  background: url('../images/icon-youtube.png') 12px center no-repeat;
  display: block;
  height: 56px;
}

#copy-right {
  bottom: 180px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform: rotate(-90deg);
  white-space:nowrap;
  padding: 0 0 0 10px;
  color: #FFFFFF;
  font-size: 70%;
}
#volume-bnt{
  background: url('../images/serpa-leftitem.jpg') 0 0 repeat-x;
  bottom: 0;
  height: 56px;
  left: -56px;
  opacity: 0;
  transition: .5s;
}
#volume-bnt.active{
  opacity: 1;
  left: 168px;
  transition: .5s;
  transition-delay: .5s;
}

.left-item {
  width: 56px;
  position: absolute;
}
/** End Menu ***/


/* Factory */
body.page-node-3  {
	background: url('../../../../files/factory_bg.jpg') no-repeat center bottom;
	width: 100%;
	height: 100%;
  background-size: 115%;
}
.node-3 .field-items {
	display: block;
}

.fac-logo {
	text-align: center;
  margin-top: 85px;
}
.fac-logo img{
  width: 80%;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.fac-desc {
	text-align: center;
  display: none;
}

.nav_wapper {
	text-align: center;
}
.nav_wapper nav{
  display: none;
}
.process {
	padding: 6px 5px 5px 5px;
	display: inline-block;
	border: 2px solid #ffffff;
	border-radius: 50px 50px;
	height: 39px;
}

.process a {
	font-size: 14px;
	text-decoration: none;
  color: #ffffff;
  width: 100%;
  border-left: 1px solid #ffffff;
  padding: 8px 8px 5px 13px;
}

.process a:hover {
  color: #000000;
}

.process a#process1 {
	border-left: none;
}

.process a:active {
    color: #000 !important;
}

.process a > span {
	position: relative;
	top: -3px;
}

.process a > img {
	position: relative;
	top: 2px;
	left: -3px;
}
.points {
	display: inline-flex;
  position: fixed;
  bottom: 238px;
  left: -55px;
}

.points > div {
	position: absolute;
	display: block;
  top: -183px;
  width: 0;
  z-index: 0;
}

.points .pnt {
  text-align: center;
  border: 3px solid #f4f4f4;
  border-radius: 4px;
  background: #c71e1e;
  height: 30%;
  width: 86%;
  padding: 10px;
  opacity: 0;
  cursor: pointer;
  position: fixed;
  top: 32%;
  left: 7%;
  background-size: cover !important;
}

.points .pnt.active{
  opacity: 1;
}

.points .ubl {
  text-align: center;
  color: #000000;
  position: relative;
  margin-top: 144px;
}

.points .ubl img {
  position: relative;
  top: -10px;
  cursor: pointer;
  left:85px;
  max-width: inherit;
  z-index: 1;
  width: 20px;
}

.points .title {
	display: block;
	font-size: 14px;
	text-transform: uppercase;
	font-family: utm_neo_sans_intelbold;
	color: #ffffff;
}

.points .desc {
	font-family: utm_neo_sans_intel;
	font-size: 14px;
	display: block;
	color: #ffffff;
  padding: 10px 0;
}
.points .btn_fct {
	display: inline-block;
	font-size: 14px;
	background-color: #ffc507;
	border-radius: 25px;
	border: 3px solid #ff8400;
	width: 115px;
	height: 40px;
}

.points .wapper_btnfct > a {
	font-size: 14px;
	text-decoration: none;
  line-height: 36px;
}

.points .wapper_btnfct > a:active {
	color: #000;
}

.points .btn_fct img#img_arrow {
	margin: 0 auto;
  position: relative;
  top: 3px;
  right: -14px;
}

.wp_p10 {
  left: calc(100vw / 8.04175);
}

.wp_p9 {
  left: calc(100vw / 4.4);
}

.wp_p8 {
  left: calc(100vw / 3.8);
}

.wp_p7 {
  left: calc(100vw / 3.3);
}

.wp_p6 {
  left: calc(100vw / 2.5);
}

.wp_p5 {
  left: calc(100vw / 2.28);
}

.wp_p4 {
  left: calc(100vw / 2.1);
}

.wp_p3 {
  left: calc(100vw / 1.9);
}

.wp_p2 {
  left: calc(100vw / 1.775);
}

.wp_p1 {
  left: calc(100vw / 1.65);
}

.ubl > span {
  font-size: 10px;
  position: absolute;
  top: -11px;
  left: 89px;
  z-index: 2;
  font-weight: bold;
  display: block;
  width: 11px;
  text-align: center;
}

#wp_cloud {
	position: relative;
	height: 100%;
	z-index: 1;
}

.cloud_topLeft {
	position: absolute;
	top:0;
	left: 0;
	opacity: 1;
}

.cloud_topRight {
	position: absolute;
	top: 0;
	right: 0;
	opacity: 1;
}

.cloud_bottomLeft {
	position: fixed;
	bottom: 0;
	left: 0;
	opacity: 1;
	margin-bottom: -1%;
}

#pnt1 {
  background: url('../images/gd1.png') center bottom no-repeat;
}

#pnt2 {
  background: url('../images/gd2.png') center bottom no-repeat;
}

#pnt3 {
  background: url('../images/gd3.png') center bottom no-repeat;
}

#pnt4 {
  background: url('../images/gd4.png') center bottom no-repeat;
}

#pnt5 {
  background: url('../images/gd5.png') center bottom no-repeat;
}

#pnt6 {
  background: url('../images/gd6.png') center bottom no-repeat;
}

#pnt7 {
  background: url('../images/gd7.png') center bottom no-repeat;
}

#pnt8 {
  background: url('../images/gd8.png') center bottom no-repeat;
}

#pnt9 {
  background: url('../images/gd9.png') center bottom no-repeat;
}

#pnt10 {
  background: url('../images/gd10.png') center bottom no-repeat;
}
#wp_cloud{
  display: none;
}
/* End factory */
